/* Create */
.create-container {
    margin: 0 auto;
    margin-top: 15rem;
    height: 100vh;
    width: 100%;
}

.construction {
    margin-bottom: 2em;
    width: 100%;
}

#cons-image {
    margin-top: 1em;
    width: 30em;
    height: 40em;
    border-radius: 8px
}

/* Ipad Pro */
@media screen and (max-width: 1024px) {

}
/* Ipad Mini */
@media screen and (max-width: 768px) {
    .create-container {
        height: 70vh;
    }

    #cons-image {
        width: 15em;
        height: 25em;
    }
}

/* Phone */
@media screen and (max-width: 550px) {
    .create-container {
        height: 33rem;
    }

    #cons-image {
        width: 10em;
        height: 15em;
    }
}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {

}