  /* Main page */

.main-container {
    margin-top: 10rem;
    height: 100%;
    width: 100%;
    background-image: url(../../../images/ucbp-bg-img.png);
    background-position:-120vmin;
    background-repeat: no-repeat;
}


.first-top-width {
    height: 25rem;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to top right,black, #30353e);
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#link-to-connect {
    color: #d01919;
    cursor: pointer;
    text-decoration: none;

}

.fix-image {
    object-fit: cover;
    width: 18em;
    border-radius: 5px;
}
.text-container > h2,h3,h5 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.1em;
    font-weight: 800;
    margin-left: 5em;
    margin-right: 10rem;
    margin-top: 3rem;
    color: whitesmoke;
    text-align: center;
}


.top-sub-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 30vh;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.9s ease;
}


.social-media-header>h4 {
    font-size: xx-large;
    font-weight: bolder;
}

.social-media-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-cards {
    background: linear-gradient(to bottom right,black, #30353e);
    margin: 1em;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    width: 5em;
    height: 5em;
    border: 1px solid #ff8833;
}

.social-media-cards:hover {
    transform: scale(1.1);
    background: #fd791a79;
}

.home-image-U {
    width: 40px;
    margin-top: 25px;
}

.home-image {
    width: 40px;
    margin-top: 20px;
}

.main-social-image {
    border-radius: 50%;
}

.first-mid-width {
    height: 32em;
    max-height: 50em;
    width: clamp(100%, 100%, 100%);
    background-color: #FAA300;
    display: flex;
    margin-top: 10.5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.video-flex {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 12em;
    opacity: 0;
    transition: opacity 1.5s ease;
    background-image: url(../../../images/lineBg2.png);
    background-position:right;
    background-repeat: none;
}

.fade-in-yellow {
    opacity: 1;
    transition: opacity 1.5s ease;
}

.fav-episodes {
    height: 220px;
    width: 220px;
    border-radius: 10%;
    position: relative;
    transition: 0.5s;
    z-index: 3;
}

.fav-episodes:hover {
    transform: scale(1.1);

    /* color: #fff;
    transform: rotateY(180deg) */

}
.episode-title {
    text-align: center;
    margin-top: 1.5em;
    color: #6E6362;
    font-weight: bolder;
    width: 100%;
}

.fix-imageBG1 {
    object-fit: cover;
}

/* .fix-image {
    transition: transform 0.3s ease-in-out;

}
.fix-image:hover {
    transform: scale(1.1);

} */


.mid-header {
    text-align: left;
    margin-top: 2em;
    font-weight: bolder;
    color: #6E6362;
    width: 16.5em;
}

@media screen and (max-width: 1050px) {
    .first-top-width{
        /* width: 85%; */
        margin-bottom: 1rem;
    }
    .first-mid-width {
        flex-direction: column;
        margin-bottom: 0;
    }
    .sub-text {
        display: flex;
        justify-content: space-around;
        margin: 0 0 3rem;
    }
    .text-container > h2,h3,h5 { 
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        margin: 2.5rem;
    }
    .fix-image {
        width: 12rem;
    }
    .top-sub-container {
        flex-direction: column;
        width: 75%;
    }
    .social-media-cards {
        margin-top: 2rem;
    }
    .social-media-header> h4 {
        /* font-size: 15px; */
        margin-top: 2rem;
        text-align: center;
    }
    /* Yellow Slot */
    .first-mid-width {
        height: 380px;
        margin-top: 4rem;
    }
    .mid-header {
        font-size: 25px;
        border-bottom: none;
        /* width: 70%; */
        margin: 0 auto;
        margin-top: 3rem;
    }
    .video-flex {
        flex-direction:row;
        gap: 8rem;
    }
    .fav-episodes {
        width: 135px;
        height: 135px;
    }
    .episode-title {
        font-size: 22px;
        
    }

}

@media screen and (max-width: 780px) {
    .first-mid-width {
        flex-direction: column;
        margin-bottom: 0;
    }

    .sub-text {
        display: flex;
        justify-content: space-around;
        margin: 0 0 3rem;
    }
    .fix-image {
        width: 12rem;
    }
    .text-container > h2,h3,h5 { 
        font-size: 18px;
        line-height: 55px;
        text-align: center;
        margin: 0 auto;
    }
    .social-media-header>h4 {
        font-size: 29px;
    }
    .mid-header {
        width:100%;
        text-align: center;
    }
    .video-flex {
        flex-direction:row;
        gap: 5rem;
        background-position:left;
    }
}

@media screen and (max-width: 490px) {
    .main-container {
        margin-top: 7.8rem;
        background-position:right;
    }

    .first-top-width {
        width: auto;
        padding: 1rem;
        height: 36rem;
        margin-bottom: 2rem;
    }

    .first-mid-width {
        margin-bottom: 0;
        margin-top: 4rem;

    }
    .sub-text {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin: 0 0 3rem;
    }

    .text-container > h2,h3,h5 { 
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        height: 0;
        width: 100%;
    }
    .text-container > h2 { 
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
        height: 0;
        width: 100%;
    }
    .text-container > h3 { 
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        /* margin-bottom: 7rem; */
        height: 0;
        width: 100%;
    }
    .fix-image {
        width: 15rem;
    }
    .top-sub-container {
        width: 100%;
    }

    .social-media-cards {
        margin: 0 auto;
        margin-top: 2.5rem;
        height: 4rem;
        width: 4rem;
        border-radius: 7px;
    }
    /* Images for Social-Cards */
    .home-image-U {
        width: 45px;
        margin-top: 15px;
    }
    
    .home-image {
        width: 45px;
        margin-top: 8px;
    }
    
    .main-social-image {
        border-radius: 50%;
    }

    .social-media-links {
        width: 95%;
    }
    .social-media-header {
        width: 100%;

    }
    .social-media-header>h4 {
        font-size: 22px;
        margin-top: 2rem;
    }
    /* Yellow Slot */
    .first-mid-width {
        height: 330px;
    }
    .first-mid-width > h3 {
        text-align: center;
        border-bottom: 3px solid lightgray;
    }
    .mid-header {
        font-size: 20px;
        border-bottom: none;
        width: 100%;
        text-align: center;
    }
    .video-flex {
        flex-direction:row;
        gap: 12px;
        background-position:left;
    }
    .fav-episodes {
        width: 115px;
        height: 115px;
    }
    .episode-title {
        font-size: 12px;
        
    }

} 


@media screen and (max-width: 392px) {
    .main-container {
        margin-top: 7.8rem;
        background-position:right;
    }

    .first-top-width {
        width: auto;
        padding: 1rem;
    }

    .first-mid-width {
        margin-bottom: 0;
        margin-top: 4rem;

    }
    .sub-text {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin: 0 0 3rem;
    }
    .text-container > h2,h3,h5 { 
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        height: 0;
        width: 100%;
    }
    .text-container > h2 { 
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
        height: 0;
        width: 100%;
    }
    .text-container > h3 { 
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        /* margin-bottom: 7rem; */
        height: 0;
        width: 100%;
    }
    .fix-image {
        width: 15rem;
    }
    .top-sub-container {
        width: 100%;
    }

    .social-media-cards {
        margin: 0 auto;
        margin-top: 2.5rem;
        height: 4rem;
        width: 4rem;
        border-radius: 7px;
    }
    /* Images for Social-Cards */
    .home-image-U {
        width: 45px;
        margin-top: 15px;
    }
    
    .home-image {
        width: 45px;
        margin-top: 8px;
    }
    
    .main-social-image {
        border-radius: 50%;
    }

    .social-media-links {
        width: 95%;
    }
    .social-media-header {
        width: 100%;

    }
    .social-media-header>h4 {
        font-size: 20px;
        margin-top: 2rem;
    }
    /* Yellow Slot */
    .first-mid-width {
        height: 330px;
    }
    .first-mid-width > h3 {
        text-align: center;
        border-bottom: 3px solid lightgray;
    }
    .mid-header {
        font-size: 20px;
        border-bottom: none;
        width: 100%;
        text-align: center;
    }
    .video-flex {
        flex-direction:row;
        gap: 12px;
        background-position:left;
    }
    .fav-episodes {
        width: 115px;
        height: 115px;
    }
    .episode-title {
        font-size: 12px;
        
    }

} 


@media screen and (max-width: 362px) {
    .main-container {
        margin-top: 7.8rem;
        background-position:right;
    }

    .first-top-width {
        width: auto;
        padding: 1rem;
    }

    .first-mid-width {
        margin-bottom: 0;
        margin-top: 4rem;

    }
    .sub-text {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin: 0 0 3rem;
    }

    .text-container > h2,h3,h5 { 
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        height: 0;
        width: 100%;
    }
    .text-container > h2 { 
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
        height: 0;
        width: 100%;
    }
    .text-container > h3 { 
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        /* margin-bottom: 7rem; */
        height: 0;
        width: 100%;
    }
    .fix-image {
        width: 15rem;
    }
    .top-sub-container {
        width: 100%;
    }

    .social-media-cards {
        margin: 0 auto;
        margin-top: 2.5rem;
        height: 4rem;
        width: 4rem;
        border-radius: 7px;
    }
    /* Images for Social-Cards */
    .home-image-U {
        width: 45px;
        margin-top: 15px;
    }
    
    .home-image {
        width: 45px;
        margin-top: 8px;
    }
    
    .main-social-image {
        border-radius: 50%;
    }

    .social-media-links {
        width: 95%;
    }
    .social-media-header {
        width: 100%;

    }
    .social-media-header>h4 {
        font-size: 20px;
        margin-top: 2rem;
    }
    /* Yellow Slot */
    .first-mid-width {
        height: 330px;
    }
    .first-mid-width > h3 {
        text-align: center;
        border-bottom: 3px solid lightgray;
    }
    .mid-header {
        font-size: 20px;
        border-bottom: none;
        width: 100%;
        text-align: center;
    }
    .video-flex {
        flex-direction:row;
        gap: 12px;
        background-position:left;
    }
    .fav-episodes {
        width: 105px;
        height: 105px;
    }
    .episode-title {
        font-size: 12px;
        
    }

} 